mixin result(outcome, status, comment)
    .endpoint-result
        h4 #{outcome} Result #[b= status]

        if comment
            p!= comment

        if block
            +jsonblock()
                block

mixin jsonblock()
        pre: code.endpoint-response.language-javascript
            block
