mixin result(outcome, status, comment)
    .endpoint-result
        h4 #{outcome} Result #[b= status]

        if comment
            p!= comment

        if block
            +jsonblock()
                block

mixin jsonblock()
        pre: code.endpoint-response.language-javascript
            block

mixin listerOpts()
    tr
        td.name page #[span optional]
        td.description
            p Page of results to get.
            .default 0
    tr
        td.name limit #[span optional]
        td.description
            p Number of results per page to retrieve.
            .default 50
    tr
        td.name fields #[span optional]
        td.description
            p Comma-delimited list of fields on models you want to return. If not passed, all available fields are returned.
            .default undefined
    tr
        td.name sort #[span optional]
        td.description
            p Specifies the order in which results should be displayed in the format of one or more blocks in the form #[code attribute:direction], separated by commas. For example, #[code attr1:desc,attr2:asc].
            .default undefined
