=version 1
=resource Notification
=method post
=endpoint /notifications
=description Creates a new notification.

include ../../_mixins.jade

p This creates a new notification manually. Beam automatically creates notifications on events such as when new channel follower is gained, but it may be useful for create notifications manually.

p Currently permissions are set up so that, in the context of a regular user, you may only create notifications for that one user.

h3 Parameters

table.endpoint-param-table
    tr
        td.name user
        td.description Numeric user ID to notify.
    tr
        td.name type
        td.description The notification type.
    tr
        td.name data #[span optional]
        td.description
            | Metadata that you'd like to associate with the notification.
            .default null

h3 Possible Results

+result("Successful", "200 OK").
    {
        "createdAt": "2015-02-09T16:04:39.426Z",
        "data": {
            "foo": "bar"
        },
        "readAt": null,
        "type": "custom:event",
        "user": 2
    }

+result("Errorful", "400 Bad Request", "Standard Invalid response.")

+result("Errorful", "403 Forbidden").
    "You are not permitted to perform that action."
