=version 1
=resource Notification
=method get
=endpoint /users/:id/notifications
=description Lists a user's notifications.

include ../../_mixins.jade

p This lists retrieves a user's notifications. You should pass a #[code since] time, in the reasonable past, to retrieve the notifications for.

p Note that all notifications expire after 14 days and, after that time, cannot be retrieved.

h3 Parameters

table.endpoint-param-table
    tr
        td.name :id
        td.description Numeric user ID to get the notifications for.
    tr
        td.name since #[span optional]
        td.description
            | A minimum time for notifications to show. It must be given as an ISO 8601 string. If it is not, then all notifications will be shown.
            .default 1970-01-01T00:00:00.000Z
    tr
        td.name before #[span optional]
        td.description
            | Results are, by default, truncated to 50 entries. If you need to view more you can set the "before" time so as to accomplish paging.
            .default NOW()

h3 Possible Results

+result("Successful", "200 OK").
    [
        {
            "createdAt": "2015-01-26T16:44:13.246Z",
            "data": { "user": "30" },
            "readAt": null,
            "type": "channel:follow",
            "user": 2
        },
        {
            "createdAt": "2015-01-23T16:44:13.246Z",
            "data": { "user": "20" },
            "readAt": "2015-01-23T21:23:27.377Z",
            "type": "channel:follow",
            "user": 2
        }
    ]

+result("Errorful", "403 Forbidden").
    "You are not permitted to perform that action."
