=version 1
=resource Shop
=method get
=endpoint /shop/items/:id
=description Retrieves information for a single item.

include ../../_mixins.jade

p This endpoint retrieves detailed, fully-populated information for a single item in the shop.

table.endpoint-param-table
    tr
        td.name :id
        td.description The item ID to display.

h3 Possible Results

+result("Successful", "200 OK").
    {
        "createdAt": "2015-01-01 00:00:00",
        "currency_cost": 2,
        "description": " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis incidunt voluptas odit.",
        "id": 1,
        "images": [/* array of Resources */],
        "max_per_user": null,
        "max_quantity": null,
        "points_cost": 0,
        "purchases": 4,
        "thumbnails": [/* array of Resources */],
        "title": "Fancy Emoticon Pack",
        "updatedAt": "2015-01-19T22:43:39.000Z"
    }
