.alert.alert-warning
    p Liveloading only works over websockets. RESTful requests are made using Sails.js' Comet request protocol.
    p Liveloading subscriptions are bound to the websocket, and are not persisted elsewhere. If you lose connection to the server, you will need to re-subscribe to liveloading events.
