=version 1
=resource LiveLoading
=method delete
=endpoint /live
=description Unsubscribes to a set of socket events.

include ../../_mixins.jade
include _llnotice.jade

p This endpoint unsubscribes the associated socket with an event that it previously subscribed to.

h3 Parameters

table.endpoint-param-table
    tr
        td.name slug
        td.description Passed as a string or array of strings. The name(s) of the #[i interfaces] you wish to unsubscribe from.
    tr
        td.name meta #[span optional]
        td.description Additional data which can be passed as needed to the interface.

h3 Possible Results

+result("Successful", "200 OK").
    "Unubscribed successfully."

+result("Errorful", "400 Bad Request", "Standard Invalid request.")
