include ../../../mixins.pug
+bsTabs('interactive_project_setup', {
    maven: 'Maven',
    gradle:'Gradle'
})
    +bsTabItem('interactive_project_setup', 'maven')
        p To setup #[code beam-client-java] and #[code beam-interactive-java], first add the Mixer repo to your pom.xml as a #[code repository] as follows:
        +highlightFile('xml','./tutorials/snippets/java/maven_chat_repo.xml')

        p And secondly, add this project as a #[code dependency] in your pom.xml:
        +highlightFile('xml','./tutorials/snippets/java/maven_interactive_dependancy.xml')
    +bsTabItem('interactive_project_setup', 'gradle')
        p To setup #[code beam-client-java] and #[code beam-interactive-java], first add the Mixer repo to your build.gradle as a #[code repository] as follows:
        +highlightFile('xml','./tutorials/snippets/java/gradle_chat_repo.gradle')
        p And secondly, add this project as a #[code dependency] in your build.gradle:
        +highlightFile('xml','./tutorials/snippets/java/gradle_interactive_dependancy.gradle')
