=version 1
=resource Chat
=method get
=endpoint /chats/:id/message
=description Lists past archived chat messages.

include ../../_mixins.jade

p With this endpoint, you can retrieve past messages for a channel. Messages do expire after a TTL interval, but until they do they can be retrieved here.

h3 Parameters

table.endpoint-param-table
    tr
        td.name :id
        td.description The numeric channel ID.
    tr
        td.name start #[span optional]
        td.description
            | The start of the time range to query for messages. Should be given as a unix timestamp with milliseconds.
            .default Date.now()
    tr
        td.name end #[span optional]
        td.description
            | The end of the time range to query for messages. Should be given as a unix timestamp with milliseconds.
            .default Date.now() - ttl
    tr
        td.name limit #[span optional]
        td.description
            | The maximim number of results to retrieve. If there are more results in the range than can be shown, the first #[code limit] messages from the end time will be displayed.
            .default 50

h3 Possible Results

+result("Successful", "200 OK").
    [
        {
            "channel": 2,
            "id": "b9b1ac30-dec5-11e4-ae00-1dea4d4cdac1",
            "message": [
                {
                    "data": "Hello connor!",
                    "type": "text"
                }
            ],
            "user_id": 1,
            "user_name": "Salsaman",
            "user_roles": [
                "Admin"
            ]
        },
        {
            "channel": 2,
            "id": "b964c4b0-dec5-11e4-ae00-1dea4d4cdac1",
            "message": [
                {
                    "data": "Hey salsaman!",
                    "type": "text"
                }
            ],
            "user_id": 2,
            "user_name": "connor4312",
            "user_roles": [
                "Owner"
            ]
        }
    ]
