=version 1
=resource Chat
=method post
=endpoint /api/v1/chats/:channel/vote
=description Initiates a new chat poll.

include ../../_mixins.jade

p Sets a user's role in the chat to be Banned.

h3 Parameters

table.endpoint-param-table
    tr
        td.name :id
        td.description The channel numeric id of the channel.
    tr
        td.name question
        td.description The question to ask in the poll.
    tr
        td.name answers
        td.description An array of strings to serve as the poll answers.
    tr
        td.name duration
        td.description Duration, in seconds, that the poll should last for.

h3 Possible Results

+result("Successful", "200 OK").
    "Vote has been started."

+result("Errorful", "400 Bad Request", "Standard Invalid response.")

+result("Errorful", "403 Forbidden").
    "Access denied"

+result("Errorful", "404 Not Found").
    "Channel not found."
