=version 1
=resource Chat
=method get
=endpoint /chats/:id
=description Prepares the user to join a chat.

include ../../_mixins.jade

p This endpoint is session-based only. It will not work over OAuth.

p It prepares the user to join a chat. It returns chat settings, available chat servers, and an authnetication key that the user (if authenticated) should use to authneticate with the chat servers over websockets.

p If there is no authenticated user, then an authkey will not be sent. The client will be able to connect to a server and view chat, but will not be able to take any actions or participate.

h3 Parameters

table.endpoint-param-table
    tr
        td.name :id
        td.description The channel numeric id of the channel whose chat you want to join.

h3 Possible Results

+result("Successful", "200 OK").
    {
        "authkey": "ce61c79f148fed06fd16fcb6e56f5897",
        "endpoints": [
            "ws://127.0.0.1:1338"
        ],
        "linksAllowed": true,
        "linksClickable": true,
        "role": "Owner",
        "slowchat": 0.5
    }

+result("Errorful", "404 Not Found").
    "Channel not found."
