=version 1
=resource Chat
=method put
=endpoint /chats/:id
=description Updates a chat's settings.

include ../../_mixins.jade

p This updates a particular chat's settings.

h3 Parameters

table.endpoint-param-table
    tr
        td.name :id
        td.description The channel numeric id of the channel whose chat you want update.
    tr
        td.name linksAllowed #[span optional]
        td.description
            | Whether links are allowed to be posted in the chat. Valid values: #[code true], #[code false].
            .default undefined
    tr
        td.name linksClickable #[span optional]
        td.description
            | Whether links will be made clickable on the client-side. Valid values: #[code true], #[code false].
            .default undefined
    tr
        td.name slowchat #[span optional]
        td.description
            | The time interval, in seconds, that users have to wait between sending messages. Should be numeric.
            .default undefined

h3 Possible Results

+result("Successful", "200 OK").
    {
        "linksAllowed": false,
        "linksClickable": true,
        "slowchat": 3
    }

+result("Errorful", "400 Bad Request", "Standard Invalid response.")

+result("Errorful", "403 Forbidden").
    "Access denied"

+result("Errorful", "404 Not Found").
    "Channel not found."
