h3(id=`${prefix}-prerequisites`) Prerequisites

p You first need to #[a(href='https://nodejs.org/en/download/, target=_blank') install Node.js] on your computer. We require Node.js version 8.0.0 or higher. Node.js lets you run our build scripts and tools. You'll also need a decent code editor. We recommend #[a(href='https://code.visualstudio.com/' target='_blank') Visual Studio Code] as a powerful editor with great JavaScript support out-of-the-box.

h3(id=`${prefix}-download`) Downloading the Control Development Kit

p After Node.js is installed you'll need to download our Control Development Kit (CDK). The CDK powers custom control development with an integrated set of tools such as previewing, testing and more. You can download the CDK #[a(href='https://aka.ms/MixerCDK' target='_blank') here]. Once you've downloaded the installer, double click on it to open it. This will install and then run the CDK.

h3(id=`${prefix}-create-project`) Create a Project

p Once the CDK is running you'll see the following screen:
img(src='/img/reference/interactive/cdk/cdkStartScreen.png' alt='The Start Screen of the CDK' width='800')

p Custom Controls are stored within Projects in the CDK so the first step is to create a new project. To do this select the new project option in the File menu along the top of the CDK. This will launch a wizard which will guide you through the steps to create your new project.

p First, select the folder that the project will be created in. We recommend you create a new folder to store all of your Custom Control projects so that they are organized. For example you could put them in #[code D:\dev\custom-controls\].

p Next you'll be asked to choose a control layout, for this guide select "Full Screen".

//TODO: Layouts section of the docs to cover other options

p You'll then be asked to enter some details about your project, feel free to fill these in. This is your chance to explain what the project is about.
