p Once you've selected a starter template the CDK will spin up a new project for you. This will download the template and install its dependencies. This will take a few moments. Behind the scenes here we're setting up your new project as a standard #[a(href='https://docs.npmjs.com/getting-started/creating-node-modules' target='_blank') NPM Module] which is built using #[a(href='https://webpack.js.org/' target='_blank') WebPack].

p Once its finished the CDK will tell you and give you the option to open your project's folder in an IDE (Automatically Detected) or in your file browser. You can also do this at any time by clicking your project name in the top action bar of the CDK and selecting "Open Folder".

h3(id=`${prefix}-login`) Login

p In order for some parts of the CDK to work such as uploading or publishing you need to login to the tool with your Mixer user account. We recommend you do this now so that it is done and you don't need to to worry about it. To do this click the "Not Logged In" Icon in the top right of the CDK. It will guide you through the login process.
