extends ../book_layout.pug
include ../../mixins.pug

block bookName
    | Custom Controls

block bookPages
    -
        var pages = {
            index: {
                name: 'Overview',
                 sections: {
                    'dive-in': 'Dive In!',
                    components: {
                        name: 'Custom Control Components',
                        sections: {
                            projects: 'Projects',
                            bundles: 'Bundles',
                            controls: 'Controls',
                            summary: 'Summary'
                        },
                    },

                },
            },
            'quickstart-preact': {
                name: 'Getting Started with Preact',
                sections: {
                    introduction: 'Introduction',
                    quickstart: {
                        name: 'Quickstart',
                        sections: {
                            login: 'Login',
                            prerequisites: 'Prerequisites',
                            'create-a-project': 'Create a Project',
                            customize: 'Customize',
                            iterate: 'Iterate',
                            'next-steps': 'Next Steps',
                        }
                    },
                    preactControls: {
                        name: 'Preact Controls',
                        sections: {
                            'but-rly': 'But Really, What is a Control?',
                            inputs: 'Inputs',
                            'styling-and-positioning': {
                                name: 'Styling & Positioning',
                                sections: {
                                    layout: 'Layout',
                                    'static-styles': 'Static Styles',
                                    'styles-in-javascript': 'Styles in JavaScript',
                                    'conditional-classes': 'Conditional Classes',
                                },
                            },
                            'giving-input': 'Giving Input',
                            'custom-scenes': 'Custom Scenes',
                        },
                    },
                    internationalization: {
                        name: 'Internationalization',
                        sections: {
                            tldr: 'TL;DR',
                            'writing-translations': 'Writing Translations',
                            'using-translations': 'Using Translations',
                        },
                    },
                },
            },

            'quickstart-html': {
                name: 'Getting Started with HTML',
                sections: {
                    'html-introduction': 'Introduction',
                    'html-quickstart': {
                        name: 'Quickstart',
                        sections: {
                            'html-prerequisites': 'Prerequisites',
                            'html-create-a-project': 'Create a Project',
                            'html-launch': 'Launch',
                            'html-make-changes': 'Make a Change',
                        }
                    },
                    'html-next-steps': 'Next Steps'
                }
            },

            'game-clients': {
                name: 'Game Clients',
                sections: {
                    'custom-data': {
                        name: 'Sending Custom Data',
                        sections: {
                            'from-custom-control': 'From Custom Controls',
                            'from-game-client': {
                                name: 'From a Game Client',
                                sections: {
                                    'meta-properties': 'With Meta Properties',
                                    'events': 'With Events'
                                }
                            }
                        }
                    },
                    'tutorial': 'Custom Data Tutorial'
                }
            },

            'best-practices': {
                name: 'Best Practices',
                sections: {
                    'test-across-platforms': 'Test Across Platforms',
                    'use-internationalizations': 'Use Internationalization',
                },
            },

            authoring: {
                name: 'Authoring Bundles',
                sections: {
                    'local-development': 'Local Development',
                    'e2e': 'End-to-End Testing',
                    'final-testing': 'Final Touches & Publishing',
                },
            },

            'writing-clients': {
                name: 'Writing SDKs',
                sections: {
                    'state-model': 'State Model',
                    'talking-to-interactive': 'Talking to Interactive',
                    'receiving-input': 'Receiving Input',
                },
            },
        };
