=version 1
=resource Channel
=method get
=endpoint /channels
=description Lists channels on Beam.

include ../../_mixins.jade

p This endpoint lists users' channels.

h3 Parameters

table.endpoint-param-table
    tr
        td.name scope
        td.description
            p Scope specifies the channel attributes you want to search for using the #[code query]. It may be one of:

            table
                tr
                    td: code names
                    td Search by token (that is, the username of the owner)
                tr
                    td: code titles
                    td Search by channel title
                tr
                    td: code types
                    td Search for channels within the type. This is equivalent to the #[a(href='http://localhost:8080/api/types/channels') channels by type] endpoint.
                tr
                    td: code all
                    td Seaches by all of the above.
            .default undefined
    tr
        td.name query
        td.description
            | The string to search by, relative to the previously provided #[code scope].
            .default undefined

    +listerOpts()

h3 Possible Results

+result("Successful", "200 OK").
    [
        {
            "allow_costream": "all",
            "audience": "G",
            "body": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor delectus dolorum sequi, esse atque enim perspiciatis neque aliquid! Possimus officia id quasi veritatis nemo aliquam omnis sequi libero eum beatae.",
            "createdAt": "2014-11-20T00:48:01.000Z",
            "featured": false,
            "followers": 10,
            "hidden": false,
            "id": 20,
            "name": "Minecraft Rox",
            "online": true,
            "partnered": false,
            "subscribers": 2,
            "thumbnail": { /* Resource object */ },
            "token": "connor4312",
            "type": "minecraft",
            "updatedAt": "2014-11-20T00:48:01.000Z",
            "user": 2,
            "viewers_total": 127
        }
    ]
