=version 1
=resource Channel
=method get
=endpoint /types/:slug/channels
=description Lists channels in a particular type.

include ../../_mixins.jade

p Lists channels in a particular category. It returns an array of channel resources with their "thumbnail" attribute populated.

h3 Parameters

table.endpoint-param-table
    tr
        td.name :slug
        td.description Slug of the category to search in.
    tr
        td.name order #[span optional]
        td.description
            p Specifies the order in which channels should be displayed in the format #[code attribute:order]. Order should be one of #[code asc] or #[code desc]. Attribute may be one of:
            ul
                li online
                li featured
                li partnered
                li name
                li viewers_total
                li followers
                li subscribers

            p If the attribute or order do not follow these rules, that sorting rule will be ignored.

            .default online:desc,viewsers_total:desc
    tr
        td.name page #[span optional]
        td.description
            | Page of results to get.
            .default 0
    tr
        td.name limit #[span optional]
        td.description
            | Number of results per page to retrieve.
            .default 50

h3 Possible Results

+result("Successful", "200 OK").
    [
        {
            "allow_costream": "all",
            "audience": "G",
            "body": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor delectus dolorum sequi, esse atque enim perspiciatis neque aliquid! Possimus officia id quasi veritatis nemo aliquam omnis sequi libero eum beatae.",
            "createdAt": "2014-11-20T00:48:01.000Z",
            "featured": false,
            "followers": 10,
            "hidden": false,
            "id": 20,
            "name": "Minecraft Rox",
            "online": true,
            "partnered": false,
            "subscribers": 2,
            "thumbnail": { /* Resource object */ }
            "token": "connor4312",
            "type": "minecraft",
            "updatedAt": "2014-11-20T00:48:01.000Z",
            "user": 2,
            "viewers_total": 127
        }
    ]
