=version 1
=resource Channel
=method patch
=endpoint /channels/:id/users/:user
=description Updates the role of a user in the channel.

include ../../_mixins.jade

p This endpoint updates roles a user has in one channel. What you can update is contextual, based on your current authentication level. Generally:

ul
    li You can add and remove people from groups "under" your level (Owners can add and remove Mod roles),
    li but you cannot modify groups at or above your role (Mods cannot mod and de-mod others).
    li Additionally, paid roles (Premium and Subscriber) cannot be modified,
    li and the dominant role of your target must be less than your own role (Mods cannot modify any roles on the Owner, Owners cannot modify any roles on site Admins).

h3 Parameters

table.endpoint-param-table
    tr
        td.name :id
        td.description Numeric ID of the channel.
    tr
        td.name :user
        td.description Numeric ID of the user #[i or] their username.
    tr
        td.name add #[span optional]
        td.description
            | Array of groups names you want to add to the user. For example, to ban a user, you would add the "Banned" role.
            .default []
    tr
        td.name remove #[span optional]
        td.description
            | Array of groups names you want to remove from the user.
            .default []

h3 Possible Results

+result("Successful", "200 OK").
    {
        "createdAt": "2014-11-20T00:47:58.000Z",
        "display_name": "Connor",
        "email": "connor@example.com",
        "groups": [
            {
                "id": 2,
                "name": "Mod"
            }
        ],
        "id": 1,
        "points": 2,
        "updatedAt": "2015-03-01T22:36:37.000Z",
        "username": "connor4312",
    }

+result("Errorful", "400 Bad Request", "Standard Invalid response.")

+result("Successful", "403 Forbidden").
    "Access denied."

+result("Errorful", "404 Not Found").
    "User not found."
