=version 1
=resource Channel
=method get
=endpoint /channels/:id/users
=description Lists users who have a specific role in the channel.

include ../../_mixins.jade

p This endpoint lists users who have some particular role on the specific channel. This includes subscribers, banned users, and moderators. It does not include global roles like premiums, developers, or admins. The results will include the basic user model, with a "groups" array listing the groups that the user belongs to on that channel.

h3 Parameters

table.endpoint-param-table
    tr
        td.name :id
        td.description Numeric ID of the channel to look up.
    tr
        td.name page #[span optional]
        td.description
            | Page of results to get.
            .default 0
    tr
        td.name limit #[span optional]
        td.description
            | Number of results per page to retrieve.
            .default 50

h3 Possible Results

+result("Successful", "200 OK").
    [
        {
            "createdAt": "2014-11-20T00:47:58.000Z",
            "display_name": "Connor",
            "email": "connor@example.com",
            "groups": [
                {
                    "id": 2,
                    "name": "Mod"
                }
            ],
            "id": 1,
            "points": 2,
            "updatedAt": "2015-03-01T22:36:37.000Z",
            "username": "connor4312",
        },
        {
            "createdAt": "2014-11-20T00:47:58.000Z",
            "display_name": "Salsaman",
            "email": "salsa@example.com",
            "groups": [
                {
                    "id": 6,
                    "name": "Banned"
                }
            ],
            "id": 2,
            "points": 2,
            "updatedAt": "2015-03-01T22:36:37.000Z",
            "username": "salsaman",
            "verified": true
        }
    ]
