=version 1
=resource Channel
=method post
=endpoint /channels/:id/thumbnail
=description Creates and sets the channel thumbnail.

include ../../_mixins.jade

p This endpoint is used for uploading and setting a new channel thumbnail.

h3 Parameters

table.endpoint-param-table
    tr
        td.name :id
        td.description
            | Numeric ID of the channel to update.
    tr
        td.name @thumbnail
        td.description
            p An image file, sent as multipart form data, to use as the channel thumbnail. Files will be processed, resized to 405x225 pixels, and converted to JPEG images, so it is not possible to upload animated gifs at this time.
            p The maximum upload size is 10 megabytes. Valid formats include png, jpg, and gif images. Files that do not fit these rules will cause a #[code 400 Bad Request] to be returned.

h3 Possible Results

+result("Successful", "200 OK").
    {
        "allow_costream": "all",
        "audience": "G",
        "banner": { /* Resource object */ },
        "body": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor delectus dolorum sequi, esse atque enim perspiciatis neque aliquid! Possimus officia id quasi veritatis nemo aliquam omnis sequi libero eum beatae.",
        "cache": [ /* array of ChatMessage objects */ ],
        "cover": { /* Resource object */ },
        "createdAt": "2014-11-20T00:48:01.000Z",
        "featured": false,
        "followers": 10,
        "hidden": false,
        "id": 20,
        "name": "Minecraft Rox",
        "online": true,
        "partnered": false,
        "subscribers": 2,
        "status": {
            "following": false,
            "subscribed": false
        },
        "thumbnail": { /* Resource object */ },
        "token": "connor4312",
        "type": "minecraft",
        "updatedAt": "2014-11-20T00:48:01.000Z",
        "user": { /* User object */ },
        "viewers_total": 127
    }

+result("Errorful", "403 Forbidden").
    "Access denied."

+result("Errorful", "404 Not Found").
    "Channel not found."

+result("Errorful", "400 Bad Request").
    "Invalid file."
