=version 1
=resource Subscriptions
=method delete
=endpoint /subscriptions/:id
=description Cancels subscription or premium role.

include ../../_mixins.jade

p This endpoint causes a transactions to be created which has the effect of renewing a subscription, when payment is made.

p A subscription does not have to be expired in order to renew it. Upon payment, the #[code expiresAt] date is updated to the greater of: 30 days from the payment date, or 30 days from its current #[code expiresAt].

h3 Parameters

table.endpoint-param-table
    tr
        td.name immediate #[span optional]
        td.description
            | Whether the subscription should be cancelled immediately, or simply marked for deletion after the term ends.
            .default false

h3 Possible Results

+result("Successful", "200 OK").
    "Subscription canceled."

+result("Errorful", "403 Forbidden").
    "You are not permitted to perform that action."

+result("Errorful", "404 Not Found").
    "Subscription not found."
