=version 1
=resource Subscriptions
=method get
=endpoint /subscriptions/:id
=description Looks up a subscription by its ID.

include ../../_mixins.jade

p This retrieves a single subscription by its ID.

h3 Parameters

table.endpoint-param-table
    tr
        td.name :id
        td.description Numeric ID of the subscriptions to look up.

h3 Possible Results

+result("Successful", "200 OK").
    {
        "cancelled": null,
        "createdAt": "2015-05-06T12:03:30.000Z",
        "deletedAt": null,
        "expiresAt": "2015-07-05T12:03:53.000Z",
        "group": 9,
        "id": 950,
        "resourceId": 3181,
        "resourceType": "channel",
        "status": "active",
        "updatedAt": "2015-05-06T12:03:53.000Z",
        "user": 258
    }

+result("Errorful", "403 Forbidden").
    "You are not permitted to perform that action."

+result("Errorful", "404 Not Found").
    "Subscription not found."
