=version 1
=resource Subscriptions
=method get
=endpoint /users/:id/subscriptions
=description Retrieves the channels a user is subscribed to.

include ../../_mixins.jade

p This retrieves a list of channels the user is subscribed to. This is #[i not] the channels a user follows.

h3 Parameters

table.endpoint-param-table
    tr
        td.name :id
        td.description Numeric user ID to look up subscriptions for.

h3 Possible Results

+result("Successful", "200 OK").
    [
        {
            "cancelled": false,
            "channel": null,
            "createdAt": "2015-01-18T14:21:29.000Z",
            "expiresAt": "2015-02-18T14:21:29.000Z",
            "group": "Premium",
            "id": 4,
            "updatedAt": "2015-01-18T14:23:22.000Z",
            "user": 2
        }
    ]

+result("Errorful", "403 Forbidden").
    "You are not permitted to perform that action."
