=version 1
=resource Subscriptions
=method get
=endpoint /users/:id/subscriptions
=description Retrieves the channels a user is subscribed to.

include ../../_mixins.jade

p This retrieves a list of channels the user is subscribed to. This is #[i not] the channels a user follows.

h3 Parameters

table.endpoint-param-table
    tr
        td.name :id
        td.description Numeric user ID to look up subscriptions for.

    +listerOpts()

h3 Possible Results

+result("Successful", "200 OK").
    [
        {
            "Group": {
                "id": 9,
                "name": "Subscriber"
            },
            "cancelled": null,
            "createdAt": "2015-05-06T12:03:30.000Z",
            "expiresAt": "2015-07-05T12:03:53.000Z",
            "group": 9,
            "id": 950,
            "resourceId": 3181,
            "resourceType": "channel",
            "status": "active",
            "updatedAt": "2015-05-06T12:03:53.000Z"
        }
    ]

+result("Errorful", "403 Forbidden").
    "You are not permitted to perform that action."
