=version 1
=resource Subscriptions
=method patch
=endpoint /subscriptions/:id
=description Renews subscription or premium role.

include ../../_mixins.jade

p This endpoint causes a transactions to be created which has the effect of renewing a subscription, when payment is made.

p A subscription does not have to be expired in order to renew it. Upon payment, the #[code expiresAt] date is updated to the greater of: 30 days from the payment date, or 30 days from its current #[code expiresAt].

h3 Parameters

table.endpoint-param-table
    tr
        td.name terms #[span optional]
        td.description
            | Number of months to renew the subscription for.
            .default 1

h3 Possible Results

+result("Successful", "200 OK").
    {
        "createdAt": "2015-02-10T15:12:03.018Z",
        "currency_delta": -7.99,
        "gateway": "internal",
        "id": 12,
        "note": "Purchase of the Premium role.",
        "points_delta": 0,
        "promotion": null,
        "short_name": "Beam Subscription",
        "status": "pending",
        "user": 2
    }

+result("Errorful", "403 Forbidden").
    "You are not permitted to perform that action."

+result("Errorful", "404 Not Found").
    "Subscription not found."
