.method-group {
  margin-top: 60px;
  margin-right: 40px;
}
.api-method {
  background-color: $api-base-color;
  border-width: 1px;
  border-color: darken($api-base-color, 3%);
  border-style: solid;
  border-radius: 3px;
  padding: 20px;

  .api-method-heading {
    .http-method {
      color: rgb(140, 156, 167);
      padding-right: 16px;
    }
    .uri {
      color: #ddd;
    }

    background-color: #303a4e;
    border-color: #45536f;
    border-style: solid;
    display: table;
    border-width: 1px;
    border-radius: 3px;
    margin-top: -41px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 15px;
    font-size: 17px;

  }

  .api-method-body {
    padding-top: 15px;

    .api-method-description {
      color: $api-alt-color;
      font-size: 15px;
      margin-bottom: 30px;
    }

    .parameters {
      .parameters-header {
        color: $api-alt-color;
        text-transform: uppercase;
      }

      .parameters-list {
        list-style: none;
        margin-top: 3px;
        margin-bottom: 0;
        padding-left: 0;

        & > li:not(:last-child) { padding-bottom: 10px; }
      }
    }

    .examples {
      .examples-list {
        list-style: none;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;

        li:not(:last-child) { padding-bottom: 10px; }
      }
    }
  }
}
