.api-example {
  .api-example-header {
    font-weight: 500;

    .http-status-good { color: rgb(40, 185, 93); }
    .http-status-ok { color: rgb(249, 196, 93); }
    .http-status-fatal { color: rgb(188, 42, 48); }

    .http-status-info {
      color: $api-alt-color;
      padding-left: 4px;
    }
  }

  pre {
    $bg-color: #282b2e;
    background-color: $bg-color;
    border-color: lighten($bg-color, 10%);
    padding: 5px;
  }
}
