.api-example {
  .api-example-header {
    font-weight: 500;
    padding-bottom: 5px;

    .http-status-good { color: rgb(40, 185, 93); }
    .http-status-ok { color: rgb(249, 196, 93); }
    .http-status-fatal { color: rgb(188, 42, 48); }

    .http-status-info {
      color: $api-alt-color;
      padding-left: 4px;
    }
  }
}
