.api-category-selector,
.api-method-selector {
  margin-top: 40px;

  ul {
    padding-left: 0;
    width: 100%;
    text-align: right;
    list-style: none;

    $selector-muted: rgb(82, 89, 106);
    $selector-active: rgb(227, 141, 70);

    li {
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 15px;
      border-right: 1px solid $selector-muted;
      transition: .3s all ease;

      &.affix { padding-right: 0; }

      a {
        color: $text-color;
        transition: .3s all ease;
        display: block;
      }

      &.category-active,
      &:hover {
        a { color: $selector-active; text-decoration: none; }
        border-right-color: $selector-active;
      }
    }
  }
}

.affix > .api-method-selector {
  margin-left: -20px;
}

.api-method-selector {
  ul > li {
    // border-right: none;
    overflow-x: hidden;

    &:hover {
      overflow-x: visible;
    }
  }
}
