.getting-started {
  .component-header > h2 {
    color: $text-color-alt;
  }

  ol {
    list-style-type: none;
    padding-left: 0;

    li {
      counter-increment: step-counter;
      margin-bottom: 20px;

      a { color: $text-color-alt; }

      &::before {
        border: 1px solid $text-color-alt;
        border-radius: 15px;
        color: $text-color-alt;
        content: counter(step-counter);
        margin-right: 10px;
        padding: 6px 10px;
      }
    }
  }
}
