.oauth-client {
    display: flex;
    flex-direction: row;
    padding: $grid-gutter-width / 2;
    margin-bottom: $grid-gutter-width;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;

    .logo img {
        width: 100%;
        border-radius: 3px;
    }

    .content {
        position: relative;
        flex-grow: 1;
        padding-left: 10px;
    }

    h3 {
        margin: 0 10px 7px;
    }

    a.edit {
        position: absolute;
        right: 0;
    }

    table {
        width: 100%;
    }

    td, th {
        padding: 10px;
    }

    th {
        color: $text-color-muted;
        width: 90px;
    }

    .blurred input {
        filter: blur(0.25em);
        transition: filter 0.2s;

        &:hover {
            filter: blur(0em);
        }
    }

    td {
        font-family: $font-family-monospace;

        a {
            text-decoration: underline;
            color: $text-color;

            &:hover {
                color: darken($text-color, 10%);
                text-decoration: none;
            }
        }
    }
}
