.oss-libraries {
  padding-left: 0;
  list-style: none;

  .oss-library a {
    $bg-color: rgba(0,0,0,.3);
    &:hover { background-color: rgba(0,0,0,.2); text-decoration: none; }

    background-color: $bg-color;
    width: 100%;
    padding: 10px;
    transition: .3s all ease;
    margin-bottom: 2px;
    display: block;

    a { display: block };
    p { margin: 0; color: white; }
    small { color: $text-color-alt; }
  }
}
