.line {
  position: absolute;
  top: 0;
  left: 0;
  right: 25%;
  bottom: 25%;
  width: 75%;
  margin-top: -300px;
  margin-left: -300px;
  opacity: .1;
  z-index: -1;
}

.index-page {
  margin-top: 30px;
}

.api-method-page {
  background: #303a4e;
  margin-top: -5px;
}

// Fix affix jumping
.a-left.affix {
  margin-left: 64px;
}
.a-right.affix {
  margin-left: 67px;
}
