extends ./layout/master.jade

block content
    .page-heading
        .container
            .col-sm-3: h1 Welcome
            .col-sm-9
                p Here you can find documentation and resources for interacting with Beam.
