extends ./layout/master.jade

block content
    .page-heading
        .container
            .col-sm-3: h1 Welcome
            .col-sm-9
                p Here you can find documentation and resources for interacting with Beam.

    .container
        .col-sm-6
            h2 Client Libraries

            p We provide several client libraries for easily interacting with the Beam API! These are currently all works-in-progress. Information regarding the documentation of some of these libraries can be found #[a(href='#client-docs') below].

            .row
                .col-xs-4
                    a.language-panel.python(href='https://github.com/MCProHosting/beam-client-python'): span Python
                .col-xs-4
                    a.language-panel.java(href='https://github.com/MCProHosting/beam-client-java'): span Java
                .col-xs-4
                    a.language-panel.golang(href='https://github.com/MCProHosting/beam-client-go'): span Go
                .col-xs-4
                    a.language-panel.nodejs.soon: span Nodejs #[small Coming Soon]
                .col-xs-4
                    a.language-panel.php.soon: span PHP #[small Coming Soon]
                .col-xs-4
                    a.language-panel.ruby.soon: span Ruby #[small Coming Soon]

            h2#client-docs Client Library Documentation

            p In addition to offering several client libraries in different languages, we also offer documentation for some of those libraries!  You can find the links to relevant pieces of documentation below.

            .row
                .col-xs-12
                    ul
                        li Beam Java Client - #[a(href='/doc/java-client/') Javadocs]

        .col-sm-6
            h2 Latest Changelogs

            for changelog in changelogs
                div
                    h3= changelog.title
                    p= changelog.summary + ' '
                    p: a(href='/changelogs/#{changelog.basename}') Read More...

            a.btn.btn-outlined(href='/changelogs') Read Older Changelogs
