=title Release 15.03.19
=date 1426806034000
=summary This release contains bugfixes and other minor improvements to the Beam platform.

h2 Breaking Changes

ul
    li The main site has been upgrade to run on Socket.io ^1.0. The protocol is still largely the same, see #[a(href='https://github.com/balderdashy/sails.io.js') sails.io.js] for a client library.
    li Underscores and percetage signs (LIKE characters) in users and channels search are now escaped and act as expected.
    li Changes have been made and are ongoing to our Widget API.

h2 API Changes

p No significant public API changes, aside from those breaking changes mentioned above.

h2 UI/UX Changes

ul
    li Fix minor issues when you stop following everyting.
    li More tweaks to autocomplete to work more smoothly.
    li We re-subscribe to liveloading events if the client socket disconnects, largely eliminating the need of those annoying refreshes.
    li Chat scrolling issues have been fixed.
    li Advertisements are not shown to Pro users or channel owners.
    li Fix user tags sometimes not working.
    li Add a checkbox to enable transcoding on the channel dashboard.
    li Fix popout chat settings not working and not being able to see viewers on popout chat.
