=title Release 15.04.10
=date 1427752800000
=summary This release contains bugfixes and other minor improvements to the Beam platform.

h2 Breaking Changes

ul
    li The callvote endpoint has been removed. Voting is handled entirely by the chat servers. [#[a(href='https://github.com/MCProHosting/beam-developers/commit/17a7155e5fa6bd9d1cac4ea76ca32001c3d1b4c2') 17a7155]]
    li Chat roles are now #[i pluralized]. Previously where we'd send down #[code user_role], we now send #[code user_roles] which is an array of strings in no particular order. [#[a(href='https://github.com/MCProHosting/beam-developers/commit/20cb0c2f71ba4889c3389d626430b3cbff516cd3') 20cb0c2]]
    li The previous banning, unbanning, modding, and unmodding endpoints have been deprecated. We now have generic role listing and modification endpoints [#[a(href='https://github.com/MCProHosting/beam-developers/commit/8fe418c84c04aeeea5e71cadc7c10f90e733c356') 8fe418c]]
    li Error messages sent down from login have change in their format
    li Changes are ongoing to our widget API. We intend to begin stabilize the API by Beta 1.3.

h2 API Changes

ul
    li There are two new events sent down for liveloading that are triggered by a user subscribing to your channel. [#[a(href='https://github.com/MCProHosting/beam-developers/commit/6691e74393f0668240a42f54bd298f118cc81fa8') 6691e74]].
    li We return whether users have two-factored enabled on current/login responses [#[a(href='https://github.com/MCProHosting/beam-developers/commit/0fa802461efa61a4003ab427e412c80458d95516') 0fa8024]].
    li There is now an endpoint to refresh the user session, which should be called when the user is promoted or demoted globally (for example, when they purcahse premium). [#[a(href='https://github.com/MCProHosting/beam-developers/commit/1a77c163a296047b33aaadaf37239fa26889903f') 1a77c16]].
    li The endpoints for two factor authentication have changed slightly with their implementation on the frontend.
    li Changing a user password now requires a password confirmation [#[a(href='https://github.com/MCProHosting/beam-developers/commit/8fe418c84c04aeeea5e71cadc7c10f90e733c356') 8fe418c]].

h2 UI/UX Changes

ul
    li Added chat viewer list.
    li Added emoticon list to chat and several new emoticon.
    li Users can now purchase emoticon packs & backgrounds from the store.
    li Added stream embedding - available under share options.
    li Hovering over users with ranks in chat now describes what role they are Admin, Mod, etc...
    li Redesigned invoices and subscriptions page to make it easier to work with.
    li Differentiate between paid and unpaid invoices on the subscriptions page.
    li Username suggestion indicator is now more intuitive and analyzes most recent chat messages.
    li Improved /pro page design.
    li Added volume control to ads.
    li Removed welcome email and added a "went pro" email.
    li Added /me command to chat (warning: unstable).
    li Changed navbar searching.
    li Twitter cards have been added - tweeting streams will include a thumbnail of the stream.
    li Fixed a race condition that could cause channel owners/pro users to see ads.
    li Fixed subscribe button still showing for subscribers.
    li Fixed channel thumbnail uploading not re-loading immediately.
    li No longer display the "next" button on the browse page if there are no more streams.
    li Clicking outside of the stream setup window now properly closes it.
    li Fixed the ability to enable/disable "went live" notifications.
    li Fixed users receiving "went live" notifications on channels which they disabled notifications.
    li Enabling transcoding mid-stream would cause users loading the new transcodes to see black screens.
    li Fixed a rare condition where users would trigger bitrate limits even when below the threshold.
    li Quick actions, when clicking on Pro or Subscriber user's names in chat, now include ban/mod.
    li Fixed users with Pro or Subscriber seeing "You're using adblock" messages. You're welcome to use adblock if you're Pro.
    li Fixed popout chat would sometimes hiding viewer count and other indicators at the bottom if it wasn't large enough.
    li Fixed an issue where users would sometimes not actually be logged out by logging out.
    li Fixed "scope.apply is already in progress" causing some polls to not be created correctly.
    li Users that have multiple instances of chat open no longer appear multiple times in chat search results.
    li Changed the way that some pages load to improve performance and fix things loading in as "offline" and going online a split second later..
    li Subscriptions can now be cancelled.
    li Fixed Beam point dialog in the top right only saying "Earn".
    li Searches now stick after a refresh and can be linked to other users.
    li Hitting backspace when using username suggestions is no longer delayed.
    li Fixed an issue where Adblock detection was causing 404s in console on channel pages.
    li Player errors now no longer block video content if it restarts and can now be closed without a refresh.
    li Chat scrolls down when a message is sent.
    li Clear chat and giveaway has now been added to the action menu and command suggestions.
    li Changed the way ads are served to start providing more relevant (gaming) ads in the future.
    li Correctly indicate that we are resending confirmation E-Mails for those that requested them.
    li Laid groundwork for new permissions management system.
    li Improved loading time for username suggestion/tagging indicator.
    li Contact requests can now be sent by users that aren't logged in.
    li Ads are now served via HTTPS (finally!) so no more annoying "mixed content" console errors.
    li Cleaned up channel editing buttons and such when on channel page.
    li Added Pro to the shop page.
    li Username length is now clarified if you try to sign up for an account beyond the limits.
    li Improved the way we handle JWPlayer errors to give more descriptive messages when the player has issues.
    li Clarified channel settings text to say "quality options" instead of "transcoding".
    li Featured channels no longer include online channels.
