=title Release 15.03.14
=date 1426348800000
=summary This release contains a myriad of new features and improvements, including the addition of Beam Pro and channel subscriptions.

h2 Breaking Changes

ul
    li Stream keys are now delimited with commas rather than slashes, due to incompatiblities in some softwares. The old format still works, but is deprecated.
    li Old (useless) notification preferences endpoints have been deprecated in favour of user preferences.
    li Poll endpoints have been entirely removed. Polls now happen through the chat server utilizing our brand-new, open source widgets system. See more on #[a(href='https://github.com/MCProHosting/beam-widgets') our repository].
    li Subscriptions' and premium's "immediate" cancellation open does not remove the role right away, but rather on the next iteration of the cron job (within a couple hours).

h2 API Changes

ul
    li Requests for user objects (current and findOne) return groups the users belong to. This can be used for checking.
    li The channel change thumbnail endpoint now returns the entire populated channel object after a successful upload.
    li Fixed an issue which should cause a 500 error on user findOne.
    li User chat search no longer returns duplicate results if a user has multiple tabs open.
    li SMIL files are now served from the main site and are permitted to be accessed by any domain.
    li Addition of ccbill as a valid payment gateway.
    li Added an endpoint to look up a single subscription by its ID.
    li Added user preferences endpoints.
    li Fix the transaction findOne endpoint totally not working.
    li The "meta" is now included with the transaction information.
    li Added an endpoint to clear messages in the chat as well as historical messages.
    li Fixed a race condition on following/unfollowing where a channel could recieve duplicate followers.

h2 UI/UX Changes

ul
    li Addition of Pro and Subscriber roles on the frontend! Tons of new stuff involved in this, you'll just have to go and try it all out! For an overview, see #[a(href='https://beam.pro/pro') our pro page].
    li Streamers no longer see adds on their own channel.
    li Links in channel descriptions open in new tab!
    li Fixed an issue where mods lacked permissions and users did not remained banned until they logged back in.
    li Made autocomplete work better and be less obtrusive.
    li Fixed bugginess with the scroll wheel on the channel cover selection.
    li Viewer stats are displayed on the frontend.
    li "Whoosh" sound is not longer incorrectly triggered in certain circumstances.
    li Add more game type covers.
    li There's now an "other" tab under stream type, for those not using xsplit/obs.
    li Fix chat height getting messed up on IE.
    li Total viewer information is now shown below streams.
    li A /clear command to remove messages in chat and clear all old messages.
    li Stream titles and descriptions now appear on prerendered paged for better search engine placement.
    li Added an emote and backgrounds pack for Beam Pro users.
    li Ads should no longer play twice under certain conditions.
    li Switching between a transcode and source no longer causes infinite loading until you refresh.
    li Chat username length has been increased to 20 characters and we now clarify the error messages in case it's too long.
    li Added youtube social media link in the footer.
    li Fix polls breaking if you don't add any options.
    li Add options several chat options, including disabling the notification sound, changing its volume, using alternate sounds, and displaying timestamps in chat.
    li Other minor UI tweaks.
