=title Release 15.03.02
=date 1425333600000
=summary This release contains minor changes API changes, but fairly major changes (about 3,000 lines code) on the backend for increased agility and flexiblity in the future.

h2 Breaking Changes

p None

h2 API Changes

ul
    li Fixed bugs on the chat user listing endpoint. Users are now correctly filtered to the current channel, and we keep track of online users more accurately.
    li The channel change thumbnail endpoint now returns the entire populated channel object after a successful upload.

h2 UI/UX Changes

ul
    li Fixes of several race conditions and edge cases on the chat server. More robust reconnections.
    li Allow users to connect to the same channel's chat in multiple browser windows.
    li Addition of an orange "Developer" tag in chat.
    li Fix username and channel thumbnail not update on the first upload on the frontend.
    li Addition of several new game types.
    li Fix viewer count in popout chat not working.
    li Fix autocomplete window staying open when it was no longer needed.
