=title 15.03.19-22 Rolling Releases
=date 1427069246000
=summary A summary of changes for rolling release hotfixes between March 19th and 21st.

h2 Breaking Changes

ul
    li We reduced the "stats" event internal from the chat server to five seconds, rather than one. It is deprecated; in the future, viewer count will be sent down through our standard liveloading system. Do not make bots that depend on it.
    li XHR polling as a socket.io transport is no longer supported and may lead to issues if you continue to use it.

h2 API Changes

ul
    li Fixed a critical bug in the CCBill API causing credit card transactions not to be processed.
    li Fixed a minor instability in live loading event propogation.
    li Fixed a race condition in following which would allowed "follower" count to be manipulated by users. Follower counts were normalized after this release was published.

h2 UI/UX Changes

ul
    li Fixed channels failing to load.
    li Fixed error occuring on channel page.
