=version 1
=resource Costream Request
=method patch
=endpoint /costreams/:id/accept
=description Accepts a costreaming request

include ../../_mixins.jade

p Hitting this endpoint causes a costreaming request to be accepted.

h3 Parameters

table.endpoint-param-table
    tr
        td.name :id
        td.description UUID of the request to accept.


h3 Possible Results

+result("Successful", "200 OK").
    {
        "created": "2015-02-09T16:31:00.931Z",
        "id": "d4fcfa4d-6e80-4034-a3f7-965819825f8e",
        "requester": 3,
        "status": "accepted",
        "target": 2
    }

+result("Errorful", "404 Not Found").
    "Request not found."

+result("Errorful", "403 Forbidden").
    "You are not permitted to perform that action."
