p.
    You can find your channel id by
    going to
    #[a(href='https://beam.pro/api/v1/channels/username?fields=id') https://beam.pro/api/v1/channels/username?fields=id]
    in your browser. Replacing username with your Beam username.
