p.
    You can find your channel id by
    going to
    #[a(href='https://mixer.com/api/v1/channels/{username}?fields=id') https://mixer.com/api/v1/channels/username?fields=id]
    in your browser. Replacing username with your Mixer username.
