ol
    li
        a(href='http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html' target='_blank') Java 1.8 or above
    li
        | A Java IDE such as:
        ol
            li
                a(href='https://www.eclipse.org/downloads/' target='_blank') Eclipse
            li
                a(href='https://www.jetbrains.com/idea/' target='_blank') IntelliJ
            li
                a(href='https://netbeans.org/downloads/' target='_blank') NetBeans
    li
        | A Java Project Manager such as:
        ol
            li
                a(href='https://maven.apache.org/' target='_blank') Maven
            li
                a(href='http://gradle.org' target='_blank') Gradle
