p.
    To run your project you can use your Java IDE to create a run configuration that supplies the username as #[code Program Arguments]. If you're using IntelliJ it should look like this:
img(src='/img/tutorials/rest/java/runconfig.png' alt='IntelliJ Run Configuration')
