extends ../layout.pug
block navbar
    .navbar-wrapper
        .container
            nav.navbar.navbar-inverse: +navbar()
            block tutorialTitle
block content
    .container: .row
        .col-md-9(role="main")
            block tutorialContent
        .col-md-3
            .hidden-print.rest-sidebar(role="complementary")
                nav
                    ul.nav.nav-stacked
                        block tutorialMenu
