=version 1
=resource User
=method post
=endpoint /users/:id/confirm/resnd
=description Verifies a user based on a code emailed to them.

include ../../_mixins.jade

p Triggers a confirmation email to be resent.

table.endpoint-param-table
    tr
        td.name :id
        td.description User ID to resend the confirmation code for.

h3 Possible Results

+result("Successful", "200 OK").
    "Confirmation email resent."

+result("Errorful", "404 Not Found").
    "User not found, did you already verify your account?"
