=version 1
=resource User
=method patch
=endpoint /users/:id/confirm
=description Verifies a user based on a code emailed to them.

include ../../_mixins.jade

p This verifies a new user's account from the code sent to their inbox on registration. This step is necessary before they will be able to log in.

p If they verify successfully, they will be logged into their account via session cookie.

table.endpoint-param-table
    tr
        td.name :id
        td.description User ID to confirm.
    tr
        td.name code
        td.description Alphanumeric confirmation code.

h3 Possible Results

+result("Successful", "200 OK").
    {
        "avatars": [ /* array of Resources */ ],
        "channel": { /* Channel object */ },
        "createdAt": "2014-11-20T00:47:58.000Z",
        "display_name": "ConnorPeet",
        "email": "connor@example.com",
        "id": 2,
        "notifications": null,
        "points": 9,
        "reset_time": null,
        "social_facebook": "connor.peet",
        "social_twitter": "ConnorPeet",
        "social_youtube": "connorpeet",
        "updatedAt": "2015-02-02T23:00:22.000Z",
        "username": "connor4312",
        "verified": true
    }

+result("Errorful", "404 Not Found").
    "User not found, did you already verify your account?"
