=version 1
=resource User
=method get
=endpoint /users/:id
=description Retrieves information about a user.

include ../../_mixins.jade

p Looks up information about a user.

h3 Parameters

table.endpoint-param-table
    tr
        td.name :id
        td.description The numeric user ID.

h3 Possible Results

+result("Successful", "200 OK").
    {
        "avatars": [ /* array of Resources */ ],
        "channel": { /* Channel object */ },
        "createdAt": "2014-11-20T00:47:58.000Z",
        "display_name": "ConnorPeet",
        "email": "connor@example.com",
        "id": 2,
        "notifications": null,
        "points": 9,
        "reset_time": null,
        "social_facebook": "connor.peet",
        "social_twitter": "ConnorPeet",
        "social_youtube": "connorpeet",
        "updatedAt": "2015-02-02T23:00:22.000Z",
        "username": "connor4312",
        "verified": true
    }

+result("Errorful", "404 Not Found").
    "User not found"
