=version 1
=resource User
=method get
=endpoint /users/:id
=description Retrieves information about a user.

include ../../_mixins.jade

p Looks up information about a user.

h3 Parameters

table.endpoint-param-table
    tr
        td.name :id
        td.description The numeric user ID.

h3 Possible Results

+result("Successful", "200 OK").
    {
        "avatars": [
            {
                "createdAt": "2015-02-04T10:39:25.000Z",
                "id": 1097,
                "meta": {
                    "size": "16x16"
                },
                "relid": "146",
                "remotePath": "avatars/146-16x16.jpg",
                "store": "s3",
                "type": "user:avatar",
                "updatedAt": "2015-02-04T10:39:25.000Z",
                "url": "https://s3.amazonaws.com/uploads.beam.pro/avatars/146-16x16.jpg"
            },
            {
                "createdAt": "2015-02-04T10:39:25.000Z",
                "id": 1100,
                "meta": {
                    "size": "24x24"
                },
                "relid": "146",
                "remotePath": "avatars/146-24x24.jpg",
                "store": "s3",
                "type": "user:avatar",
                "updatedAt": "2015-02-04T10:39:25.000Z",
                "url": "https://s3.amazonaws.com/uploads.beam.pro/avatars/146-24x24.jpg"
            },
            {
                "createdAt": "2015-02-04T10:39:25.000Z",
                "id": 1102,
                "meta": {
                    "size": "32x32"
                },
                "relid": "146",
                "remotePath": "avatars/146-32x32.jpg",
                "store": "s3",
                "type": "user:avatar",
                "updatedAt": "2015-02-04T10:39:25.000Z",
                "url": "https://s3.amazonaws.com/uploads.beam.pro/avatars/146-32x32.jpg"
            },
            {
                "createdAt": "2015-02-04T10:39:25.000Z",
                "id": 1105,
                "meta": {
                    "size": "64x64"
                },
                "relid": "146",
                "remotePath": "avatars/146-64x64.jpg",
                "store": "s3",
                "type": "user:avatar",
                "updatedAt": "2015-02-04T10:39:25.000Z",
                "url": "https://s3.amazonaws.com/uploads.beam.pro/avatars/146-64x64.jpg"
            },
            {
                "createdAt": "2015-02-04T10:39:25.000Z",
                "id": 1107,
                "meta": {
                    "size": "128x128"
                },
                "relid": "146",
                "remotePath": "avatars/146-128x128.jpg",
                "store": "s3",
                "type": "user:avatar",
                "updatedAt": "2015-02-04T10:39:25.000Z",
                "url": "https://s3.amazonaws.com/uploads.beam.pro/avatars/146-128x128.jpg"
            },
            {
                "createdAt": "2015-02-04T10:39:25.000Z",
                "id": 1109,
                "meta": {
                    "size": "256x256"
                },
                "relid": "146",
                "remotePath": "avatars/146-256x256.jpg",
                "store": "s3",
                "type": "user:avatar",
                "updatedAt": "2015-02-04T10:39:25.000Z",
                "url": "https://s3.amazonaws.com/uploads.beam.pro/avatars/146-256x256.jpg"
            }
        ],
        "bio": null,
        "channel": {
            "audience": "G",
            "coverId": 145,
            "createdAt": "2015-02-01T16:54:28.000Z",
            "description": "<p>\n\t Lead developer at Beam!\n</p>",
            "featured": false,
            "id": 129,
            "name": "Some beam backend development! asdsadsdfs",
            "numFollowers": 52,
            "numSubscribers": 0,
            "online": false,
            "partnered": false,
            "suspended": false,
            "thumbnailId": 1713,
            "token": "connor4312",
            "transcodingEnabled": true,
            "updatedAt": "2015-05-15T12:32:41.000Z",
            "userId": 146,
            "viewersCurrent": 6,
            "viewersTotal": 458
        },
        "createdAt": "2015-02-01T16:54:28.000Z",
        "deletedAt": null,
        "groups": [
            {
                "id": 1,
                "name": "User"
            },
            {
                "id": 7,
                "name": "Developer"
            }
        ],
        "id": 146,
        "points": 55,
        "social": {
            "twitter": "ConnorPeet"
        },
        "updatedAt": "2015-03-20T01:17:16.000Z",
        "username": "connor4312",
        "verified": true
    }

+result("Errorful", "404 Not Found").
    "User not found"
