=version 1
=resource User
=method post
=endpoint /users/login
=description Updates the session to be in the context of a user.

include ../../_mixins.jade

p Hitting this endpoint causes the user's credentials to be authenticated and, if successful, their session is persisted via cookie.
p Use of this endpoint is very specific. If you're looking for a way to authenticate users on your application, you should use our #[a OAuth API].

h3 Parameters

table.endpoint-param-table
    tr
        td.name username
        td.description The username to authenticate with.
    tr
        td.name password
        td.password The password to attempt to authenticate with.

h3 Possible Results

+result("Successful", "200 OK").
    {
        "avatars": [ /* array of Resources */ ],
        "channel": { /* Channel object */ },
        "createdAt": "2014-11-20T00:47:58.000Z",
        "display_name": "ConnorPeet",
        "email": "connor@example.com",
        "follows": [ /* array of Follows */ ],
        "id": 2,
        "notifications": null,
        "points": 9,
        "reset_time": null,
        "social_facebook": "connor.peet",
        "social_twitter": "ConnorPeet",
        "social_youtube": "connorpeet",
        "updatedAt": "2015-02-02T23:00:22.000Z",
        "username": "connor4312",
        "verified": true
    }

+result("Errorful", "401 Unauthorized", "If the username or password is invalid").
    "Invalid username or password."

+result("Errorful", "492 Rate Limited", "If too many attempts have been made in too short an interval").
    "Too many invalid login attempts. Please wait a few minutes."
