=version 1
=resource User
=method delete
=endpoint /users/current
=description Destroys the user session.

include ../../_mixins.jade

p Destroys the current user session. This has no effect when using OAuth.

h3 Possible Results

+result("Successful", "200 OK").
    "User logged out."
