=version 1
=resource User
=method post
=endpoint /users/passwordstr
=description Calculates a password strength.

include ../../_mixins.jade

p Hitting this endpoint calculates and returns a passwor strength using Dropbox's #[a(href='https://github.com/dropbox/zxcvbn') zxcvbn] library.

h3 Parameters

table.endpoint-param-table
    tr
        td.name password
        td.description The password to score. It will not be stored or persisted.

h3 Possible Results

+result("Successful", "200 OK", "A score for the password 'BeamPro123'.").
    {
        "calc_time": 1,
        "crack_time": 5873.803,
        "crack_time_display": "3 hours",
        "entropy": 26.808,
        "match_sequence": [
            {
                "base_entropy": 10.782998208920413,
                "dictionary_name": "surnames",
                "entropy": 11.782998208920413,
                "i": 0,
                "j": 3,
                "l33t_entropy": 0,
                "matched_word": "beam",
                "pattern": "dictionary",
                "rank": 1762,
                "token": "Beam",
                "uppercase_entropy": 1
            },
            {
                "base_entropy": 11.439830883981394,
                "dictionary_name": "english",
                "entropy": 12.439830883981394,
                "i": 4,
                "j": 6,
                "l33t_entropy": 0,
                "matched_word": "pro",
                "pattern": "dictionary",
                "rank": 2778,
                "token": "Pro",
                "uppercase_entropy": 1
            },
            {
                "ascending": true,
                "entropy": 2.584962500721156,
                "i": 7,
                "j": 9,
                "pattern": "sequence",
                "sequence_name": "digits",
                "sequence_space": 11,
                "token": "123"
            }
        ],
        "password": "BeamPro123",
        "score": 2
    }
