=version 1
=resource User
=method post
=endpoint /users
=description Registers a new user.

include ../../_mixins.jade

p Registers a new user with Beam.

table.endpoint-param-table
    tr
        td.name username
        td.description Username for the user
    tr
        td.name password
        td.description Password for authentication.
    tr
        td.name email
        td.description The email address associated with the user.

h3 Possible Results

+result("Successful", "200 OK").
    {
        "createdAt": "2015-02-07T17:19:54.027Z",
        "email": "connor@example.com",
        "id": 1,
        "points": 0,
        "updatedAt": "2015-02-07T17:19:54.027Z",
        "username": "connor4312",
        "verified": false
    }

+result("Errorful", "400 Bad Request", "A standard Invalid response.")
