=version 1
=resource User
=method patch
=endpoint /users/reset
=description Updates a user password with a reset code.

include ../../_mixins.jade

p Updates a user's password using the reset code that they were sent by email.

table.endpoint-param-table
    tr
        td.name token
        td.description The reset token they were sent.
    tr
        td.name password
        td.description The password to change to.

h3 Possible Results

+result("Successful", "200 OK").
    "Password has been successfully updated"

+result("Errorful", "404 Not Found").
    "User not found."

+result("Errorful", "400 Invalid", "Standard Invalid response if the password is too weak.")
