=version 1
=resource User
=method get
=endpoint /users/search
=description Searches for a user by username.

include ../../_mixins.jade

p This searches for a user based by the prefix of their username.

h3

table.endpoint-param-table
    tr
        td.name query
        td.description The prefix of the username to query with. Must be at least two characters long, or an empty array will be returned.
    tr
        td.name page #[span optional]
        td.description
            | Page of results to get.
            .default 0
    tr
        td.name limit #[span optional]
        td.description
            | Number of results per page to retrieve.
            .default 50

h3 Possible Results

+result("Successful", "200 OK", "With query string <code>jam</code>.").
    [
        {
            "username": "jamburger",
            "id": 1
        },
        {
            "username": "jamydev",
            "id": 2
        },
        {
            "username": "jambro1337",
            "id": 3
        }
    ]

+result("Errorful", "400 Bad Request", "If the query string is too short.").
    "User not logged in."
