=version 1
=resource User
=method put
=endpoint /users/:id
=description Updates a user profile.

include ../../_mixins.jade

p Updates user profile information.

h3 Parameters

table.endpoint-param-table
    tr
        td.name :id
        td.description The numeric user ID.
    tr
        td.name email #[span optional]
        td.description
            | Email connected to the user account.
            .default undefined
    tr
        td.name password #[span optional]
        td.description
            | The user's password. If you pass this, you must also pass the #[code passwordVerify] parameter below.
            .default undefined
    tr
        td.name passwordVerify #[span optional]
        td.description
            | The user's current password which you are attempting to change. Required if and only if #[code password] is passed.
            .default undefined
    tr
        td.name social #[span optional]
        td.description
            p An object with keys being social networks, and values being usernames on the networks. Valid networks are:

            ul
                li: a(href="https://facebook.com") facebook
                li: a(href="https://player.me") player
                li
                    a(href="https://twitter.com") twitter
                    | Note: handles must not begin with an "at" symbol.
                li: a(href="https://youtube.com") youtube


h3 Possible Results

+result("Successful", "200 OK").
    {
        "avatars": [ /* array of Resources */ ],
        "channel": { /* Channel object */ },
        "createdAt": "2014-11-20T00:47:58.000Z",
        "display_name": "ConnorPeet",
        "email": "connor@example.com",
        "follows": [ /* array of Follows */ ],
        "id": 2,
        "notifications": null,
        "points": 9,
        "reset_time": null,
        "social_facebook": "connor.peet",
        "social_twitter": "ConnorPeet",
        "social_youtube": "connorpeet",
        "updatedAt": "2015-02-02T23:00:22.000Z",
        "username": "connor4312",
        "verified": true
    }

+result("Errorful", "403 Forbidden").
    "You are not permitted to perform that action."

+result("Errorful", "400 Bad Request", "Standard Invalid response.")
