extends ../layout.pug
include ../mixins.pug

block title
    block bookPages
    if pages
        +bookPageTitle(pages)
        = ' | Interactive Reference | Mixer Developers'

block navbar
    .navbar-wrapper
        .container
            nav.navbar.navbar-inverse: +navbar()
            h1
                block bookName

block content
    block bookPages
    if pages
        .container: .row
            .col-md-3
                .hidden-print.book-sidebar.rest-sidebar(role='complementary')
                    nav
                        ul.nav.nav-stacked
                            each page, location in pages
                                +bookPageNav(location, page)

            .col-md-9.book-primary(role='main')
                -
                    const keys = Object.keys(pages);
                    const index = keys.indexOf(fileBasename);
                    const next = pages[keys[index + 1]];

                .book-page-title
                    +bookPrevArrow(pages)
                    h1: +bookPageTitle(pages)
                    +bookNextArrow(pages)

                block reference

                .book-page-footer
                    +bookPrevArrow(pages)

                    if next
                        span= `Next up: ${next.name}`
                        +bookNextArrow(pages)
                    else
                        span That's it! If you have questions, ask #[a(href='https://gitter.im/Mixer/developers') on Gitter]!
