.panel-rest {
    position: relative;

    .panel-reference {
        position: absolute;
        right: 100%;
        line-height: 50px;
        width: 50px;
        height: 50px;
        text-align: center;
        display: none;
        cursor: pointer;
    }

    &:hover .panel-reference {
        display: block;
    }

    .panel-title {
        font-family: @font-family-monospace;
    }

    .panel-heading > .panel-title {
        font-size: 1.8em;
    }
}

.rest-properties {
    margin: 0;
    padding: 0;

    li {
        list-style-type: none;

        + li {
            border-top: 1px solid #eee;
        }
    }

    h5 {
        font-family: @font-family-monospace;
        font-size: 1.3em;
    }
}

.rest-endpoint {
    font-size: 1.1em;
    border-bottom: 1px solid #eee;
    cursor: pointer;

    td:first-child {
        padding-left: @grid-gutter-width / 2;
    }

    td:last-child {
        padding-right: @grid-gutter-width / 2;
    }

    td {
        padding: (@grid-gutter-width / 2) (@grid-gutter-width / 4);
    }

    &:last-child {
        border-bottom: none;
    }

    &:hover {
        background: #eee;
    }

    &-method {
        text-transform: uppercase;
        text-align: right;
        color: lighten(@brand-primary, 10%);
        width: 5em;
    }

    &-path {
        width: 25em;
    }

    &-description {
        font-size: 0.9em;
        font-weight: 300;
        color: #999;
    }

    .icon-lock-3 {
        margin-left: 0.5em;
    }
}

.rest-sidebar {
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;

    li {
        a {
            position: relative;
            color: #999;
            border-left: 2px solid transparent;
            padding: 4px 20px;
            font-size: 13px;
            font-weight: 400;

            &:hover {
                font-weight: 500;
                color: @brand-secondary;

                &:before {
                    background-color: @brand-secondary;
                }
            }
        }

        ul.nav {
            display: none;

            a {
                padding-left: 30px;
            }
        }

        &.active {
            > ul.nav {
                display: block;
            }

            > a {
                font-weight: 600;
                border-left-color: @brand-secondary;
                color: @brand-secondary;
            }
        }
    }
}


@media print {
    .rest-endpoint {
        display: none;
    }

    .modal {
        display: block;
        position: static;
        opacity: 1;
    }

    .modal-dialog {
        margin: 0;
        width: inherit;
        transform: none !important;
    }

    .modal-content {
        box-shadow: none;
    }

    .tab-content > .tab-pane {
        display: block !important;
        opacity: 1 !important;
        visibility: visible !important;
    }
}
