.slide {
    margin: (@grid-gutter-width * 2) 0;

    &.gray { background: #eee; }
    &.bar-transition-top { margin-top: @grid-gutter-width; }
    &.bar-transition-bottom { margin-bottom: @grid-gutter-width; }

    .slide-title {
        font-size: 62px;
        letter-spacing: -2px;
        margin-bottom: @grid-gutter-width;

        .muted {
            color: #ccc;
        }
    }
}


.slide-features {
    text-align: center;

    a + a {
        border-left: 1px solid #ccc;
    }

    a {
        padding: @grid-gutter-width 0;
        display: block;
        height: initial;
        font-size: 1.2em;
        font-weight: 300;
        color: #000;
        cursor: pointer;

        &:hover {
            background: #eee;
            text-decoration: none;
        }
    }

    object {
        width: 80px;
        fill: #f00;
        margin-bottom: @grid-gutter-width / 2;
    }
}

.slide-grab {
    &-left {
        position: relative;
        z-index: 0;
        display: flex;
        flex-direction: column;
    }

    &-stanbot {
        position: relative;
        margin: @grid-gutter-width * 2 0 -@grid-gutter-width 0;

        img {
            position: relative;
            width: 100%;
        }

        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            top: 0;
            right: 0;
            width: 200%;
            display: block;
            background: radial-gradient(farthest-side at 50% 100%,
                rgba(0, 0, 0, 0.15) 0%,
                rgba(0, 0, 0, 0) 100%);
            z-index: -1;
        }
    }
}

.slide-library {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: @grid-gutter-width / 2;
    margin-bottom: @grid-gutter-width;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        transform: translateY(1px);
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    }

    &-icon {
        > object {
            width: 80px;
            max-height: 80px;
        }
    }

    &-name {
        margin-left: @grid-gutter-width / 2;
        flex-grow: 1;

        h3 {
            white-space: nowrap;
            margin: 0;
        }

        small {
            display: block;
            font-size: 0.5em;
        }
    }

    &-meta {
        position: absolute;
        right: @grid-gutter-width / 3;
        bottom: @grid-gutter-width / 4;
        line-height: 1.2em;

        span {
            display: inline-block;
            margin: 0 0.5em 0 0.25em;
            height: 0.9em;
            color: #999;
        }

        object {
            height: 1em;
        }
    }
}
