=version 1
=resource Transactions
=method get
=endpoint /transactions/:id
=description Retrieves information about a single transaction.

include ../../_mixins.jade

p Retrieves information about a single transaction.

h3 Parameters

table.endpoint-param-table
    tr
        td.name :id
        td.description Numeric user ID of the transaction to get.

h3 Possible Results

+result("Successful", "200 OK").
    {
        "createdAt": "2015-01-18T14:21:29.000Z",
        "currency_delta": -7.99,
        "gateway": "internal",
        "id": 9,
        "note": "Purchase of the Premium role.",
        "points_delta": 0,
        "promotion": null,
        "reference": "",
        "short_name": "Beam Subscription",
        "status": "pending",
        "user": 2
    }

+result("Errorful", "404 Not Found").
    "Transaction not found."

+result("Errorful", "403 Forbidden").
    "You are not permitted to perform that action."
