extends ../reference_layout.pug
include ../../rest/type.pug
block title
    | Interactive Reference | Beam Developers

block navbar
    .navbar-wrapper
        .container
            nav.navbar.navbar-inverse: +navbar()
            h1 Interactive Reference Documentation
block menu
    .hidden-print.rest-sidebar(role='complementary')
        nav
            ul.nav.nav-stacked
                include ./menu.pug
block reference
    br
    .alert.alert-info
        p.
            Looking for Interactive 1 docs? Find them #[a(href='../interactive1') here].

