li
    a(href='#introduction') Introduction
li
    a(href='#overview') Overview
    ul.nav.nav-stacked
        li
            a(href='#the-gameclient') The GameClient
        li
            a(href='#the-interactive-service') The Interactive Service
        li
            a(href='#an-interactive-project') An Interactive Project
        li
            a(href='#participants') Participants
li
    a(href='#interactive-experience-structure') Interactive Experience Structure
    ul.nav.nav-stacked
        li
            a(href='#scenes') Scenes
        li
            a(href='#groups') Groups
        li
            a(href='#controls') Controls
            ul.nav.nav-stacked
                li
                    a(href='#buttons') Buttons
                    ul.nav.nav-stacked
                    li
                        a(href='#what-are-sparks') What are Sparks
                    li
                        a(href='#spark-transactions') Spark Transactions
                li
                    a(href='#joysticks') Joysticks
li
    a(href='#getting-started') Getting Started
    ul.nav.nav-stacked
        li
            a(href='#prerequisites') Prerequisites
        li
            a(href='#choosing-an-sdk--environment') Choosing an SDK / Environment
        li
            a(href='#creating-an-interactive-project') Creating an Interactive Project
        li
            a(href='#the-info-step') The Info Step
        li
            a(href='#the-build-step---x') The Build Step - X
            ul.nav.nav-stacked
                li
                    a(href='#scenes-area') Scenes Area
                li
                    a(href='#controls-area') Controls Area
                li
                    a(href='#grid-area') Grid Area
        li
            a(href='#the-code-step') The Code Step
        li
            a(href='#publish-step') Publish Step
            ul.nav.nav-stacked
                li
                    a(href='#publishing-flow') Publishing Flow
        li
            a(href='#sharing-your-project') Sharing your Project
            ul.nav.nav-stacked
                li
                    a(href='#share-codes') Share Codes
                li
                    a(href='#explicit-sharing') Explicit Sharing
li
    a(href='#protocol-overview') Protocol Overview
    ul.nav.nav-stacked
        li
            a(href='#wire-format') Wire Format
        li
            a(href='#packets') Packets
            ul.nav.nav-stacked
                li
                    a(href='#method') Method
                li
                    a(href='#reply') Reply
        li
            a(href='#compression') Compression
        li
            a(href='#authentication') Authentication
            ul.nav.nav-stacked
                li
                    a(href='#oauth-20') OAuth 2.0
                li
                    a(href='#xtoken') XToken
li
    a(href='#where-to-get-help') Where to get help
li
    a(href='#interactive__api__reference') API Reference
