li
    a(href="#interactive__introduction") Introduction
li
    a(href="#interactive__connection") Connection
li
    a(href="#interactive__flow") Data Flow
li
    a(href="#interactive__packets") Packets
li
    a(href="#interactive__protocol") Specification