extends ../layout/master.jade

block content
    .page-heading
        .container
            .col-sm-3: h1 Changelogs
            .col-sm-9
                p Record of past changes to the Beam API and service.

    .container
        for changelog in changelogs
            h2= changelog.title

            p
                p= changelog.summary + ' '
                a(href='/changelogs/#{changelog.basename}') Read More...
