extends ../reference_layout.pug

block title
    | OAuth Reference | Beam Developers

block navbar
    .navbar-wrapper
        .container
            nav.navbar.navbar-inverse: +navbar()
            h1 OAuth Reference
block menu
    .hidden-print.rest-sidebar(role='complementary')
        nav
            ul.nav.nav-stacked
                li: a(href='#quick_details') Quick Details
                li: a(href='#introduction') Introduction
                li: a(href='#registering') Registering Your Application
                li: a(href='#hosts') Hosts
                li: a(href='#using_oauth') Using OAuth
                li: a(href='#oauth_scopes') OAuth Scopes
block reference
    .page-header
        h2#quick_details Quick details:
        p.
            You can register your OAuth application on our
            #[a(href='https://beam.pro/lab' target='_blank') Developer Lab].
            After getting a token there, you can use provide these endpoints to your OAuth
            client library to dig in:

        ul
            li
                | Authorize endpoint:
                code https://beam.pro/oauth/authorize
            li
                | Token endpoint:
                code https://beam.pro/api/v1/oauth/token

    h2#introduction Introduction
    p.
        If you want to act as another user in chat, access a users' private resources as part
        of your app, or just want to use Beam credentials to authenticate your users,
        it's best to use OAuth so the users' credentials don't need to be stored on your servers.

    p.
        OAuth is a system that replaces traditional user/password combos with app-specific tokens.
        Your app can request a set of tokens for a certain user with a specific set of permissions.
        This way your app only gets access to what it needs and all other details will stay hidden.
        It's a win-win scenario for both your app's functionality, and our user's privacy.

    p To start using OAuth create an application as described below.

    h2#registering Registering Your Application
    p.
        To create an application head over to the
        #[a(href='https://beam.pro/lab/oauth' target='_blank') OAuth Clients] page!
        Once there, click the big blue plus button and it'll open the creation form.

    p.
        On this page you'll need to enter some basic details about your application,
        like its name, website and logo.
        All of these details will be displayed publicly to users of your app.

    h3#hosts Hosts
    p.
        The hosts parameter is an important one; it tells us what domains your application
        can redirect to. This should be set to domains you control.
        You can use wildcards. For example, #[code *.beam.pro],
        will allow redirects to all subdomains on #[code beam.pro],
        but not #[code beam.pro] itself.
        You can enter multiple hosts by separating them with commas.

    h2#using_oauth Using OAuth
    p.
        The OAuth 2.0 protocol is simple enough,
        but that doesn't mean you should implement it from scratch.
        Most popular languages will have a library to easily interface with an OAuth server.
        A partial list of suggested clients
        can be found on #[a(href='http://oauth.net/code/' target='_blank') this website].
        If you're interested in reading an in depth explanation of how OAuth works
        head #[a(href='https://aaronparecki.com/articles/2012/07/29/1/oauth2-simplified' target='_blank') here].

    .alert.alert-warning
        p.
            We #[strong strongly] advise you to use an existing
            #[a(href='http://oauth.net/code/' target='_blank') OAuth client library] whenever possible,
            rather than writing your own implementation. OAuth is hard to securely implement,
            and the time you spend trying to do so would be better spent building something awesome.

        blockquote
            p.
                &quot;To be clear, OAuth 2.0 at the hand of a developer with deep understanding
                of web security will likely result is a secure implementation.
                However, at the hands of most developers – as has been the experience
                from the past two years – 2.0 is likely to produce insecure implementations.&quot;
            footer Eran Hammer

    p.
        To use our OAuth implementation you'll just need the URLs which can be found at the top of
        this page and your token from the
        #[a(href='https://beam.pro/lab/oauth' target='_blank') OAuth Clients] page.

    h2#oauth_scopes OAuth Scopes
    p.
        To request access to a users' account you need to use scopes.
        Scopes limit the amount of access a certain application has to the account.
        The full list of scopes which can be requested are listed below,
        and are also listed on the endpoints themselves over on
        the #[a(href='/rest.html') REST API reference].

    table.table
        thead
            tr
                th Scope
                th Description
        tbody
            for key in permissionKeys
                - data = permissions[key]
                if !data.administrative
                    tr
                        td: code= key
                        td= data.text

    include ../../snippets/help.pug
