mixin navbar
    .navbar-header
        button.navbar-toggle.collapsed(
            type='button'
            data-toggle='collapse'
            data-target='#js-navbar'
        )
            span.icon.icon-view-headline
        a.navbar-brand(href='/')

    #js-navbar.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
            li.dropdown
                a.dropdown-toggle(href='#' data-toggle='dropdown') Tutorials
                ul.dropdown-menu
                    li: a(href='/tutorials/chatbot.html') Chat
                    li: a(href='/tutorials/interactive.html') Interactive
                    li: a(href='/tutorials/rest.html') REST API
                    li: a(href='/tutorials/constellation.html') Constellation
            li.dropdown
                a.dropdown-toggle(href='#' data-toggle='dropdown') Reference
                ul.dropdown-menu
                    li: a(href='/reference/chat/index.html') Chat
                    li: a(href='/reference/interactive/index.html') Interactive
                    li: a(href='/rest.html') REST API
                    li: a(href='/reference/constellation/index.html') Constellation
                    li: a(href='/reference/oauth/index.html') OAuth

            li: a(href='https://mixer.com/lab' target='_blank') Developer Lab

include ./mixins.pug

doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
        link(rel='apple-touch-icon-precomposed' sizes='144x144' href='/img/apple-touch-icon-144x144.png')
        link(rel='apple-touch-icon-precomposed' sizes='152x152' href='/img/apple-touch-icon-152x152.png')
        link(rel='shortcut icon' type='image/x-icon' href='/img/favicon.ico')
        link(rel='icon' type='image/png' href='/img/favicon-32x32.png' sizes='32x32')
        link(rel='icon' type='image/png' href='/img/favicon-16x16.png' sizes='16x16')

        link(href='https://fonts.googleapis.com/css?family=Heebo:100,300|Inconsolata:400,700|Open+Sans:400,300' rel='stylesheet')
        link(rel='stylesheet' href='/css/style.css')

        block head

        title
            block title

    body
        block navbar
            .navbar-wrapper
                .container
                    nav.navbar.navbar-inverse: +navbar()

        block outerContent
            .site-content
                block content

        block footer
            footer.site-footer
                .container
                    .col-lg-2.col-md-3.col-xs-6
                        h3 Mixer
                        ul
                            li: a(href='https://mixer.com' target='_blank') Home
                            li: a(href='https://mixer.com/browse/all' target='_blank') Browse
                            li: a(href='https://mixer.com/about/story' target='_blank') About
                            li: a(href='https://mixer.com/contact' target='_blank') Contact Us

                    .col-lg-2.col-md-3.col-xs-6
                        h3 Social
                        ul
                            li: a(href='https://twitter.com/WatchMixer' target='_blank') Twitter
                            li: a(href='https://github.com/mixer' target='_blank') GitHub
                            li: a(href='https://gitter.im/Mixer/developers' target='_blank') Gitter.im
                            li: a(href='https://facebook.com/WatchMixer' target='_blank') Facebook

                    .col-lg-2.col-md-3.col-xs-6
                        h3 Network
                        ul
                            li: a(href='https://mixer.com' target='_blank') mixer.com
                            li: a(href='https://forums.mixer.com/' target='_blank') Mixer Forums
                            li: a(href='https://blog.mixer.com/' target='_blank') Blog
                            li: a(href='https://feedback.mixer.com/forums/382521-lazers-and-shiny-things/category/174978-developer-ecosystem' target='_blank') Feedback

                    .col-lg-2.col-md-3.col-xs-6
                        h3 Legal
                        ul
                            li: a(href='/legal/attributions.html') Attributions
                            li: a(href='https://mixer.com/about/privacy' target='_blank') Privacy Policy
                            li: a(href='https://mixer.com/about/tos' target='_blank') Terms of Service
                            li: a(href='https://mixer.com/about/dmca' target='_blank') DMCA/Abuse

                    .col-sm-4.visible-lg-block
                        a.footer-logo(href='https://mixer.com' target='_blank')
                            img(src='/img/footer-logo.png' alt='Mixer Logo')

                    .clearfix
                    .copyright Copyright Microsoft. #[a(href='https://github.com/mixer/developers/issues/new' target='_blank') Spot an issue]?

        block scripts
            +scripts()
