extends ../layout/master.jade
include ../mixins/api

block content
    .page-heading
        .container
            .col-sm-3: h1 Endpoints
            .col-sm-9
                p These HTTP-based endpoints allow you to interact with most types of resources on Beam. Use OAuth to verify with these routes.
    .container
        each endpoints, resource in resources
            h3= resource
            .flexgrid
                each endpoint in endpoints
                    .flex-xs-3.flex-fill: +endpointBox(endpoint)
